{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col-md d-flex justify-content-center">
        <div class="card w-25">
            <div class="card-body w-75 m-5">
            <p>Are you sure you want to delete "{{customers.name}}"?</p>

            <form action="{% url 'delete_customer' customers.id %}" method="POST">
                {% csrf_token %}
                
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}