{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   

    <title>Product Management Project</title>
</head>
<body>
    {% include 'accounts/navbar.html' %}
    <div class="m-1 p-1">
        


        {% block content %} 
    
        
    
        {% endblock %}
    
        <hr>
    
    
        
    </div>
    {% include 'accounts/footer.html' %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>